.search > .ui.menu {
  border-radius: 0;
}

.search .item-collection {
  padding-bottom: 1em;
}

.search .item-collection .ui.items > .item > .image > img {
  aspect-ratio: 1 / 1;
  border: none;
  object-fit: cover;
}

.search .ui.grid > .row.results-container > .column .pagination.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search .stats-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}
