.action-modal.ui.form .action-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.action-modal.ui.form .action-description .field {
  margin-bottom: 0;
}
