.artwork-titles.list > .item > .content > .list-header {
  display: flex;
  align-items: center;
}

.artwork-titles.list > .item > .content > .list-header > .icon {
  margin-left: 0.5em;
}

.artwork-titles.list > .item > .content > .description {
  margin-top: 0.5rem;
}