.record-header .image-container {
  margin-bottom: 1em;
}

.record-header .image-container img {
  width: 100%;
}

.record-header .lazy-image.ui.segment {
  margin-top: 0;
}

.record-header .button-container {
  margin-top: 1em;
}
