.record-page .ui.menu {
  border-radius: 0;
  margin-bottom: 0;
}

.record-page > .pushable > .pusher {
  margin-top: 1em;
}

.record-page .section {
  margin-bottom: 2em;
}

.record-page .attributes-grid > .row:nth-child(odd) {
  background-color: #f1f1f1;
}

.record-page .attributes-grid > .row > .column.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.record-page .image-container.ui.container {
  display: flex;
  justify-content: center;
}

.record-page .lazy-image {
  width: fit-content;
}

.record-page .lazy-image img {
  max-height: 500px;
  object-fit: cover;
}

